/.editorconfig                export-ignore
/.gitattributes               export-ignore
/.github                      export-ignore
/.gitignore                   export-ignore
/.release-please-manifest.json export-ignore
/composer.lock                export-ignore
/docs                         export-ignore
/phpstan.neon.dist            export-ignore
/phpunit.xml                  export-ignore
/pint.json                    export-ignore
/release-please-config.json   export-ignore
/tests                        export-ignore
